/* CSS Document */

.TopBar {
    background-color: var(--TitleBar);
    color: var(--TitleText);
    display: flex;
    height: 3em;
    justify-content: space-between;
    padding-bottom: .1em;
    padding-left: .5em;
    padding-right: .5em;
    padding-top: .1em;
    top: 0;
}

iframe {
    height: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 3em;
    width: 100%;
}